@import '../../lib/styles/variables.import.less';

.toolbar-btn {
  padding-top: 5px;
  padding-bottom: 5px;

  &.active {
    border-bottom: 2px solid @primary-color;
    color: @primary-color !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
