<md-toolbar class="md-accent md-hue-1 md-whiteframe-z2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="toolbar.toggleMenu()"
      aria-label="User menu" hide-gt-sm>
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <!-- TODO: implement dropdown location navigation/or action dropdown..? -->
    <!-- <md-button class="locationDropdown" layout layout-align="center center">
      <span>{{ toolbar.currentLocation }}</span>
      <md-icon class="material-icons">arrow_drop_down</md-icon>
    </md-button> -->
    <h3 class="location" flex="50">{{ toolbar.currentLocation }}</h3>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Search">
      <md-icon class="material-icons">search</md-icon>
      <md-tooltip hide-sm>Search</md-tooltip>
    </md-button>
    <!-- <md-input-container class="searchbar" md-no-float flex>
      <md-icon class="material-icons">search</md-icon>
      <input ng-model="toolbar.searchText" type="text" placeholder="Search my inventories...">
    </md-input-container> -->
  </div>
</md-toolbar>
