@import "../lib/styles/variables.import.less";

.main {
  width:  100vw;
  height: 100vh;
  background-color: @main-background;
}

.main__container {
  height: 100vh;
  > md-content { background-color: @main-background; }
}
