<md-dialog class="md-accent infoModal" aria-label="List Info" flex="65">
  <md-toolbar class="infoModal__header">
    <div class="md-toolbar-tools">
      <h2>List Info</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="info.close()">
        <md-icon aria-label="Close modal">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="listInfoForm" layout="column">
    <md-dialog-content class="infoModal__body">
      <section>
        <md-content layout="column" layout-padding>
          <md-input-container>
            <label>Title <small>(required)</small></label>
            <input ng-model="info.list.title" type="text" ng-required="true">
          </md-input-container>
          <md-input-container>
            <label>Description</label>
            <textarea ng-model="info.list.description" columns="1" md-maxlength="100" rows="5"></textarea>
          </md-input-container>
          <md-list class="infoModal__userList" layout="column">
            <md-subheader class="md-no-sticky">This list is shared with...</md-subheader>
            <md-list-item layout layout-align="start center">
              <h4 flex>{{ ::info.listOwner | displayName }}
                <small>({{ ::info.listOwner | email }})</small>
              </h4>
              <md-button ng-disabled="true">Owner</md-button>
            </md-list-item>
            <md-list-item layout layout-align="start center" ng-repeat="user in info.listSubscribers">
              <h4 flex>{{ ::user | displayName }}
                <small>({{ ::user | email }})</small>
              </h4>
              <md-button class="md-warn" ng-click="info.unsubscribe($index)">Unsubscribe</md-button>
            </md-list-item>
            <md-list-item ng-if="!info.addingUser" layout-align="center center">
              <md-button ng-click="info.addingUser = true">+ Add more users</md-button>
            </md-list-item>
            <md-list-item ng-if="info.addingUser" layout layout-align="start center">
              <md-input-container flex>
                <md-icon>person_add</md-icon>
                <label>Enter email</label>
                <input ng-model="info.emailInput" type="email">
              </md-input-container>
              <md-button ng-click="info.addSubscriber(info.emailInput)">Add</md-button>
              <md-button ng-click="info.addingUser = false">Done</md-button>
            </md-list-item>
          </md-list>
        </md-content>
      </section>

      <md-dialog-actions layout="row">
        <md-button ng-click="info.close()">Close</md-button>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="listInfoForm.$invalid" ng-click="info.save()">
          Save
        </md-button>
      </md-dialog-actions>
    </md-dialog-content>
  </form>

</md-dialog>
