<!-- View List of Lists -->
<div class="inventory">

  <md-list layout layout-align="start start" layout-wrap flex>
    <md-list-item class="inventory__list" ng-repeat="list in inventory.lists" flex-gt-sm="33" flex-sm="100">
      <md-card>
        <md-card-content>
          <div layout layout-align="start center">
            <span class="md-title" flex>{{list.title}}</span>
            <div ng-show="list.subscribers.length > 0">
              <md-icon class="md-18">person</md-icon>
              <span>{{list.subscribers.length}}</span>
            </div>
          </div>
          <p>{{list.description}}</p>
          <span>{{list.items.length || 0}} items</span>
        </md-card-content>

        <md-card-actions class="md-actions" layout="row" layout-align="start center">
          <md-button class="md-icon-button" ng-click="inventory.edit($index)"><md-icon>mode_edit</md-icon></md-button>
          <md-button class="md-icon-button" ng-click="inventory.remove($index)"><md-icon>delete</md-icon></md-button>
          <span flex></span>
          <md-button class="md-accent md-hue-3" ui-sref="main.inventoryItems({listId: list._id})">View</md-button>
        </md-card-actions>

      </md-card>
    </md-list-item>
  </md-list>

</div>
<!-- End Lists Display -->
