<div class="auth" layout="row" layout-align="center center">
  <form class="md-whiteframe-z1 auth__form" layout="column" ng-submit="auth.register()">
    <section class="auth__header" layout="row">
      <span flex></span>
      <h2 class="md-primary">Register an Account</h2>
      <span flex></span>
    </section>
    <section class="auth__body">
      <md-content layout="column" layout-padding>
        <h5 ng-show="auth.error" class="text-warning">
          {{ auth.error }}
        </h5>
        <md-input-container>
          <label>Full Name</label>
          <input ng-model="auth.credentials.profile.name" type="text" ng-required="true">
        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input ng-model="auth.credentials.email" type="email" ng-required="true">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="auth.credentials.password" type="password" ng-required="true">
        </md-input-container>
      </md-content>
    </section>
    <section class="auth__footer" layout="row">
      <md-button class="md-primary md-raised" ng-click="auth.register()" flex>Continue</md-button>
    </section>
  </form>
</div>
