<md-dialog class="createModal" aria-label="Create New List" flex="65">
  <md-toolbar class="md-accent md-hue-1 createModal__header">
    <div class="md-toolbar-tools">
      <h2>New List</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="create.cancel()">
        <md-icon aria-label="Close modal">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="createListForm" layout="column">
    <md-dialog-content class="createModal__body">
      <section>
        <md-content layout="column" layout-padding>
          <md-input-container>
            <label>Title <small>(required)</small></label>
            <input ng-model="create.newList.title" type="text" ng-required="true">
          </md-input-container>
          <md-input-container>
            <label>Description</label>
            <input ng-model="create.newList.description" type="text">
          </md-input-container>
        </md-content>
      </section>

      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="create.cancel()">Cancel</md-button>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="createListForm.$invalid" ng-click="create.create()">
          Create
        </md-button>
      </div>
    </md-dialog-content>
  </form>

</md-dialog>
