<!-- View Items in List -->
<div class="inventory">

  <md-list layout layout-align="start start" layout-wrap flex>
    <md-list-item ng-repeat="item in inventoryItems.items" flex-sm="100">
      <md-card>
        <md-card-content>
          <h2 class="md-title">{{item.title}}</h2>
          <h5>{{item.description}}</h5>
          <span>Qty: {{item.qty || 0}}</span>
        </md-card-content>

        <md-card-actions class="md-actions" layout="row" layout-align="center center">
          <md-button class="md-icon-button" ng-click="inventoryItems.edit($index)"><md-icon>mode_edit</md-icon></md-button>
          <md-button class="md-icon-button" ng-click="inventoryItems.remove($index)"><md-icon>delete</md-icon></md-button>
          <md-button class="md-icon-button"><md-icon>add_shopping_cart</md-icon></md-button>
        </md-card-actions>

      </md-card>
    </md-list-item>
  </md-list>

</div>
<!-- End View Items -->
