<!-- Mobile View Items -->
<div class="inventory">

  <div class="section__header" layout>
    <div class="inventoryAction__buttonGroup" layout hide-sm>
      <md-button class="action__button--left"><md-icon>info</md-icon></md-button>
      <md-button class="action__button--middle"><md-icon>delete</md-icon></md-button>
      <md-button class="action__button--right"><md-icon>add_shopping_cart</md-icon></md-button>
    </div>
    <md-button id="filterButton" class="md-raised">
      <div layout>
        <span>Filter By</span>
        <md-icon>arrow_drop_down</md-icon>
      </div>
    </md-button>
    <md-button id="orderButton" class="md-raised">
      <div layout>
        <span>Order By</span>
        <md-icon>arrow_drop_down</md-icon>
      </div>
    </md-button>
  </div>

  <md-list layout layout-align="start start" layout-wrap flex>
    <md-list-item class="inventory__item" ng-repeat="item in inventoryItems.items" flex-sm="100">
      <md-card>
        <md-card-content layout>
          <div layout="column" layout-align="start start" flex>
            <h2 class="inventory__itemTitle">{{item.title}}</h2>
          </div>
          <div class="inventory__itemQty" layout="column" layout-align="start center">
            <span class="inventory__qtyLabel">Qty</span>
            <span class="inventory__qtyValue">{{item.qty || 0}}</span>
          </div>
        </md-card-content>

        <md-card-actions class="md-actions" layout layout-align="start center" hide-gt-sm>
          <md-button class="md-icon-button" ng-click="inventoryItems.edit($index)"><md-icon>info</md-icon></md-button>
          <md-button class="md-icon-button" ng-click="inventoryItems.remove($index)"><md-icon>delete</md-icon></md-button>
          <md-button class="md-icon-button"><md-icon>add_shopping_cart</md-icon></md-button>
        </md-card-actions>

      </md-card>
    </md-list-item>
  </md-list>

</div>
