<md-sidenav class="md-sidenav-left md-accent md-whiteframe-z2 sideMenu"
  md-component-id="sideMenu" md-is-locked-open="$mdMedia('gt-md')"
  layout="column" tabindex="-1">
  <md-toolbar class="sideMenu__logo">
    <div class="md-toolbar-tools">
      <span flex></span>
      <h4>Fridge List</h4>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-content>

    <div class="sideMenu__userMenu">
      <div class="sideMenu__userMenu-toggle" ng-class="{isToggled: menu.showOptions}" layout="row">
        <md-button ng-click="menu.showOptions = !menu.showOptions" flex>
          <div layout="row" layout-align="center center" flex>
            <i class="material-icons sideMenu__avatar">account_circle</i>
            <h4>{{ ::$root.currentUser | displayName }}</h4>
            <span flex></span>
            <i class="material-icons expand-icon">expand_more</i>
          </div>
        </md-button>
      </div>
      <div class="sideMenu__userMenu-options" ng-show="menu.showOptions" layout="column">
        <md-button ui-sref="settings" flex>Settings</md-button>
        <md-button ui-sref="logout" class="md-warn" flex>Logout</md-button>
      </div>
    </div>

    <md-list>
      <md-divider></md-divider>
      <md-list-item>
        <md-button class="md-primary md-hue-1" ui-sref="main.inventories" flex>My Inventories</md-button>
      </md-list-item>
      <md-list-item class="sideMenu__inventory-list" ng-repeat="list in menu.lists">
        <md-button ui-sref="main.inventoryItems({listId: list._id})" flex>
          <div layout layout-align="start center">
            <i class="material-icons">list</i>
            <span>{{list.title}}</span>
          </div>
        </md-button>
      </md-list-item>
    </md-list>

  </md-content>

</md-sidenav>
