<md-sidenav id="sideMenu" class="md-sidenav-left md-accent md-whiteframe-z2"
  md-component-id="sideMenu" md-is-locked-open="$mdMedia('gt-sm')"
  layout="column" tabindex="-1">
  <md-toolbar class="sideMenu__logo">
    <div class="md-toolbar-tools appName" layout layout-align="center center">
      <span class="appName__initial">F</span>
      <span class="hide-on-shrink">ridge List</span>
    </div>
  </md-toolbar>

  <md-content>

    <div class="sideMenu__userMenu">
      <div class="sideMenu__userMenu-toggle" ng-class="{isToggled: menu.showOptions}" layout="row">
        <md-button ng-click="menu.showOptions = !menu.showOptions" flex>
          <div layout="column" layout-align="start start">
            <!-- TODO: replace with real avatar -->
            <i class="material-icons avatar">account_circle</i>
            <strong class="sideMenu__userName hide-on-shrink">{{ ::$root.currentUser | displayName }}</strong>
            <div class="hide-on-shrink" layout layout-fill>
              <span class="sideMenu__userEmail" flex>{{ ::$root.currentUser | email }}</span>
              <md-icon class="expand-icon">expand_more</md-icon>
            </div>
          </div>
        </md-button>
      </div>
      <div class="sideMenu__userMenu-options" ng-show="menu.showOptions" layout="column">
        <md-button class="sideMenu__menuItem" ui-sref="settings" ng-disabled="true" flex>
          <div layout layout-align="start center">
            <i class="material-icons">settings</i>
            <span>Settings</span>
          </div>
        </md-button>
        <md-button class="md-warn sideMenu__menuItem" ui-sref="logout" flex>
          <div layout layout-align="start center">
            <i class="material-icons">mood_bad</i>
            <span>Logout</span>
          </div>
        </md-button>
      </div>
    </div>

    <md-list>
      <!-- Main Menu -->
      <md-subheader class="hide-on-shrink">Main Menu</md-subheader>
      <md-list-item class="sideMenu__menuItem"
        ng-class="{ 'is-active': menu.isActive('{{ nav.sref }}') }"
        ng-repeat="nav in menu.menus">
        <md-button ui-sref="{{::nav.sref}}" ng-disabled="nav.disabled" flex>
          <div layout layout-align="start center">
            <i class="material-icons">{{::nav.icon}}</i>
            <span>{{::nav.label}}</span>
          </div>
        </md-button>
      </md-list-item>

      <!-- All Lists -->
      <div class="hide-on-shrink">
        <md-subheader>My Lists</md-subheader>
        <md-list-item class="sideMenu__menuItem"
          ng-class="{ 'is-active': menu.isActive(list._id) }"
          ng-repeat="list in menu.lists">
          <md-button ui-sref="main.inventoryItems({listId: list._id})" flex>
            <div layout layout-align="start center">
              <i class="material-icons">list</i>
              <span>{{list.title}}</span>
            </div>
          </md-button>
        </md-list-item>
      </div>
    </md-list>

  </md-content>

</md-sidenav>
